*~
.DS_Store
.svn
.cvs
*.bak
*.swp
*.tmp
*.log
.env
auth.json
Thumbs.db
.vagrant/
/web/public/
node_modules/
/web/vendor/
/web/vendor-wp/
*.codekit
*.codekit3
.sass-cache
/bin/composer/
/bin/phpcs/
/provisioning/playbook.retry
/docker/data/
/docker/composer/
/wp-content/*
/wp-content/plugins
!/wp-content/themes
/wp-content/themes/*/
!/wp-content/themes/laqonto
